<div class="endpoint_title">
    <h1>Brand</h1>
</div>

<div class="associated_attrs">
    <div class="product_association" id="api">
        <div class="associated_product">
            <%= image_tag("API.png") %>
            <h3>API</h3>
        </div>

        <div class="product_associated_attrs">
            <% @associated_attrs.joins(:product, :endpoint).where(products: { product_title: "API" }, endpoints: { endpoint_title: "Brand" }).each do |associated_attr| %>
            <ul>
                <li><h6><%= associated_attr.ui_info %></h6></li>
                <li><hr></li>
                <li><h5><%= associated_attr.attr.attr_title %></h5></li>
            </ul>
            <% end %>
        </div>
    </div>

    <div class="product_association" id="engage">
        <div class="associated_product">
            <%= image_tag("engage.png") %>
            <h3>Engage</h3>
        </div>
    
        <div class="product_associated_attrs">
            <% @associated_attrs.joins(:product, :endpoint).where(products: { product_title: "Engage" }, endpoints: { endpoint_title: "Brand" }).each do |associated_attr| %>
            <ul>
                <li><h5><%= associated_attr.attr.attr_title %></h5></li>
                <li><hr></li>
                <li><h6><%= associated_attr.ui_info %></h6></li>
            </ul>
            <% end %>
        </div>
    </div>

    <div class="product_association" id="present">
        <div class="associated_product">
            <%= image_tag("present.png") %>
            <h3>Present</h3>
        </div>
    
        <div class="product_associated_attrs">
            <% @associated_attrs.joins(:product, :endpoint).where(products: { product_title: "Present" }, endpoints: { endpoint_title: "Brand" }).each do |associated_attr| %>
            <ul>
                <li><h6><%= associated_attr.ui_info %></h6></li>
                <li><hr></li>
                <li><h5><%= associated_attr.attr.attr_title %></h5></li>
            </ul>
            <% end %>
        </div>
    </div>

    <div class="product_association" id="roster">
        <div class="associated_product">
            <%= image_tag("roster.png") %>
            <h3>Roster</h3>
        </div>
    
        <div class="product_associated_attrs">
            <% @associated_attrs.joins(:product, :endpoint).where(products: { product_title: "Roster" }, endpoints: { endpoint_title: "Brand" }).each do |associated_attr| %>
            <ul>
                <li><h5><%= associated_attr.attr.attr_title %></h5></li>
                <li><hr></li>
                <li><h6><%= associated_attr.ui_info %></h6></li>                
            </ul>
            <% end %>
        </div>
    </div>

    <div class="product_association" id="roster">
        <div class="associated_product">
            <%= image_tag("websites.png") %>
            <h3>Websites</h3>
        </div>
    
        <div class="product_associated_attrs">
            <% @associated_attrs.joins(:product, :endpoint).where(products: { product_title: "Websites" }, endpoints: { endpoint_title: "Brand" }).each do |associated_attr| %>
            <ul>
                <li><h5><%= associated_attr.attr.attr_title %></h5></li>
                <li><hr></li>
                <li><h6><%= associated_attr.ui_info %></h6></li>                
            </ul>
            <% end %>
        </div>
    </div>

    
</div>

<%= link_to "ActionLog", "actionlog" %>
<%= link_to "Agent", "agent" %>
<%= link_to "Brand", "brand" %>