<div class="endpoint_title">
    <h1>Company</h1>
</div>

<div class="associated_attrs">

    <div class="product_association" id="engage">
        <div class="associated_product">
            <%= image_tag("engage.png") %>
            <h3>Engage</h3>
        </div>

        <div class="product_associated_attrs">
            <% @associated_attrs.each do |associated_attr| %>
                <% if associated_attr.associated_endpoints['Endpoints'].is_a?(Array) && associated_attr.associated_endpoints['Endpoints'].include?('Company') %>
                    <% if associated_attr.ui_info['Company'].is_a?(Array) && associated_attr.ui_info['Company'].include?('Engage') %>
                        <ul>
                            <li id="attrTitle"><h5><%= associated_attr.attr_title %></h5></li>
                            <li id="attrLine"><hr></li>
                            <li id="attrText"><h6><%= associated_attr.ui_info['EngageText'] %></h6></li>
                        </ul>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="product_association" id="present">
        <div class="associated_product">
            <%= image_tag("present.png") %>
            <h3>Present</h3>
        </div>

        <div class="product_associated_attrs">
            <% @associated_attrs.each do |associated_attr| %>
                <% if associated_attr.associated_endpoints['Endpoints'].is_a?(Array) && associated_attr.associated_endpoints['Endpoints'].include?('Company') %>
                    <% if associated_attr.ui_info['Company'].is_a?(Array) && associated_attr.ui_info['Company'].include?('Present') %>
                        <ul>
                            <li id="attrTitle"><h5><%= associated_attr.attr_title %></h5></li>
                            <li id="attrLine"><hr></li>
                            <li id="attrText"><h6><%= associated_attr.ui_info['PresentText'] %></h6></li>
                        </ul>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="product_association" id="api">
        <div class="associated_product">
            <%= image_tag("API.png") %>
            <h3>API</h3>
        </div>

        <div class="product_associated_attrs">
            <% @associated_attrs.each do |associated_attr| %>
                <% if associated_attr.associated_endpoints['Endpoints'].is_a?(Array) && associated_attr.associated_endpoints['Endpoints'].include?('Company') %>
                    <% if associated_attr.ui_info['Company'].is_a?(Array) && associated_attr.ui_info['Company'].include?('API') %>
                        <ul>
                            <li id="attrTitle"><h5><%= associated_attr.attr_title %></h5></li>
                            <li id="attrLine"><hr></li>
                            <li id="attrText"><h6><%= associated_attr.ui_info['APIText'] %></h6></li>
                        </ul>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="product_association" id="roster">
        <div class="associated_product">
            <%= image_tag("roster.png") %>
            <h3>Roster</h3>
        </div>

        <div class="product_associated_attrs">
            <% @associated_attrs.each do |associated_attr| %>
                <% if associated_attr.associated_endpoints['Endpoints'].is_a?(Array) && associated_attr.associated_endpoints['Endpoints'].include?('Company') %>
                    <% if associated_attr.ui_info['Company'].is_a?(Array) && associated_attr.ui_info['Company'].include?('Roster') %>
                        <ul>
                            <li id="attrTitle"><h5><%= associated_attr.attr_title %></h5></li>
                            <li id="attrLine"><hr></li>
                            <li id="attrText"><h6><%= associated_attr.ui_info['RosterText'] %></h6></li>
                        </ul>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="product_association" id="websites">
        <div class="associated_product">
            <%= image_tag("websites.png") %>
            <h3>Websites</h3>
        </div>

        <div class="product_associated_attrs">
            <% @associated_attrs.each do |associated_attr| %>
                <% if associated_attr.associated_endpoints['Endpoints'].is_a?(Array) && associated_attr.associated_endpoints['Endpoints'].include?('Company') %>
                    <% if associated_attr.ui_info['Company'].is_a?(Array) && associated_attr.ui_info['Company'].include?('Websites') %>
                        <ul>
                            <li id="attrTitle"><h5><%= associated_attr.attr_title %></h5></li>
                            <li id="attrLine"><hr></li>
                            <li id="attrText"><h6><%= associated_attr.ui_info['WebsitesText'] %></h6></li>
                        </ul>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>

</div>

<%= render 'shared/nav' %>