<nav class="main_nav">
  <ul class="nav_links">
    <li><%= link_to "ActionLog", "actionlog" %></li>
    <li><%= link_to "Agent", "agent" %></li>
    <li><%= link_to "Brand", "brand" %></li>
    <li><%= link_to "BuyerTransaction", "buyertransaction" %></li>
    <li><%= link_to "Company", "company" %></li>
    <li><%= link_to "Contact", "contact" %></li>
    <li><%= link_to "EmailCampaign", "emailcampaign" %></li>
    <li><%= link_to "Event", "event" %></li>
    <li><%= link_to "Gallery", "gallery" %></li>
    <li><%= link_to "Search", "search" %></li>
  </ul>
  <div class="nav_user">
    <%= render "shared/navuser" %>
  </div>
</nav>
