<div id="<%= dom_id endpoint_associated_attr %>">
  <p>
    <strong>Endpoint:</strong>
    <%= endpoint_associated_attr.endpoint.endpoint_title %>
  </p>

  <p>
    <strong>Attribute:</strong>
    <%= endpoint_associated_attr.attr.attr_title %>
  </p>

  <p>
    <strong>Endpoint create:</strong>
    <%= endpoint_associated_attr.endpoint_create %>
  </p>

  <p>
    <strong>Endpoint update:</strong>
    <%= endpoint_associated_attr.endpoint_update %>
  </p>

  <p>
    <strong>Endpoint show:</strong>
    <%= endpoint_associated_attr.endpoint_show %>
  </p>

  <p>
    <strong>Endpoint index:</strong>
    <%= endpoint_associated_attr.endpoint_index %>
  </p>

  <p>
    <strong>Endpoint delete:</strong>
    <%= endpoint_associated_attr.endpoint_delete %>
  </p>

  <p>
    <strong>Attribute create request:</strong>
    <%= endpoint_associated_attr.attr_create_request %>
  </p>

  <p>
    <strong>Attribute create response:</strong>
    <%= endpoint_associated_attr.attr_create_response %>
  </p>

  <p>
    <strong>Attribute delete request:</strong>
    <%= endpoint_associated_attr.attr_delete_request %>
  </p>

  <p>
    <strong>Attribute delete response:</strong>
    <%= endpoint_associated_attr.attr_delete_response %>
  </p>

  <p>
    <strong>Attribute index request:</strong>
    <%= endpoint_associated_attr.attr_index_request %>
  </p>

  <p>
    <strong>Attribute index response:</strong>
    <%= endpoint_associated_attr.attr_index_response %>
  </p>

  <p>
    <strong>Attribute show request:</strong>
    <%= endpoint_associated_attr.attr_show_request %>
  </p>

  <p>
    <strong>Attribute show response:</strong>
    <%= endpoint_associated_attr.attr_show_response %>
  </p>

  <p>
    <strong>Attribute update request:</strong>
    <%= endpoint_associated_attr.attr_update_request %>
  </p>

  <p>
    <strong>Attribute update response:</strong>
    <%= endpoint_associated_attr.attr_update_response %>
  </p>

  <p>
    <strong>Attribute type:</strong>
    <%= endpoint_associated_attr.attr_type %>
  </p>

  <p>
    <strong>Associated Moxi UI info:</strong>
    <%= endpoint_associated_attr.associated_ui_info %>
  </p>

  <p>
    <strong>Associated Moxi Product info:</strong>
    <%= endpoint_associated_attr.associated_product_info %>
  </p>

</div>
