<p style="color: green"><%= notice %></p>

<h1>Endpoint Associated Attributes</h1>

<div id="endpoint_associated_attrs">
  <% @endpoint_associated_attrs.each do |endpoint_associated_attr| %>
    <p>
      <%= link_to [endpoint_associated_attr.endpoint.endpoint_title, endpoint_associated_attr.attr.attr_title], endpoint_associated_attr %>
    </p>
  <% end %>
</div>

<%= link_to "New endpoint associated attribute", new_endpoint_associated_attr_path %>

<h1>Attributes</h1>

<div id="attrs">
  <% @attrs.each do |attr| %>
    <p>
      <%= link_to attr.attr_title, attr %>
    </p>
  <% end %>
</div>

<%= link_to "New attribute", new_attr_path %>

<h1>Endpoints</h1>

<div id="endpoints">
  <% @endpoints.each do |endpoint| %>
    <p>
      <%= link_to endpoint.endpoint_title, endpoint %>
    </p>
  <% end %>
</div>

<%= link_to "New endpoint", new_endpoint_path %>
</div>

<h1>User info</h1>
<div>
  <% if user_signed_in? %>
    <div id="users">
    <% @users.each do |user| %>
      <p>
        <%= link_to user.email, edit_user_registration_path %>
      </p>
    <% end %>
    </div>
    <%= link_to "Profile", edit_user_registration_path %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Log in", new_user_session_path %>
  <% end %>
</div>