<p style="color: green"><%= notice %></p>

<%= render @endpoint_associated_attr %>

<div>
  <%= link_to "Edit this endpoint associated attr", edit_endpoint_associated_attr_path(@endpoint_associated_attr) %> |
  <%= link_to "Back to endpoint associated attrs", endpoint_associated_attrs_path %>

  <%= button_to "Destroy this endpoint associated attr", @endpoint_associated_attr, method: :delete %>
</div>
