<div class="endpoint_title">
  <h1>ActionLog</h1>
</div>

<div class="associated_attrs">
  <%= render_product_association('Agent', 'API') %>
  <%= render_product_association('Agent', 'Engage') %>
  <%= render_product_association('Agent', 'Roster') %>
  <%= render_product_association('Agent', 'Websites') %>
</div>

<%= render 'shared/nav' %>