<%= render 'shared/nav' %>

<div class="search_box">
  <%= form_tag(index_path, method: :get) do %>
    <%= label_tag(:keyword, "Search for:") %>
    <%= text_field_tag(:keyword, params[:keyword]) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<hr>

<div class="search_results_container">
  <% if @results.present? %>
    <% @results.each do |result| %>
      <div class="result" id="searchResult">
        <ul>
          <% 
            # Extract strings, "Products" array, and other arrays
            string_fields = result.ui_info.select { |_key, value| !value.is_a?(Array) }
            products_field = result.ui_info['Products']
            other_arrays = result.ui_info.select { |key, value| value.is_a?(Array) && key != 'Products' }.sort.to_h
            request_info = result.request_type.select { |key, value| value.is_a?(Array) }.sort.to_h
          %>
          <li class="search_attr_title">
            <h5 style="padding: 1em;"><%= result.attr_title %></h5>
          </li>

          <% string_fields.each do |key, value| %>
            <li class="search_attr_body">
              <h6>
                <strong><%= display_name_for_ui_info_key(key, :ui_info) %> - </strong>
                <%= value %>
              </h6>
            </li>
          <% end %>

          <li class="product_heading">
            <h5>Product Associations</h5>
          </li>
          
          <div class="product_body" id="allProductAssociations">
            <% if products_field.present? %>
              <% products_field.each do |product| %>
                <li>
                  <%= image_tag("#{product}.png", title: product) %>
                  <h6 style="text-align: center;"><%= product %></h6>
                </li>
              <% end %>
            <% end %>
          </div>

          <li class="request_heading">
            <h5>Request Types</h5>
          </li>

          <% request_info.each do |key, value| %>
            <li class="request_body">
              <h6>
                <strong><%= display_name_for_ui_info_key(key, :request_type) %> - </strong>
                <%= value.join(", ") %>
              </h6>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% else %>
    <p>No results to display</p>
  <% end %>
</div>
