<%= form_tag(index_path, method: :get) do %>
    <%= label_tag(:keyword, "Search for:") %>
    <%= text_field_tag(:keyword) %>
    <%= submit_tag("Search") %>
  <% end %>
  
  <% if flash[:alert].present? %>
    <p><%= flash[:alert] %></p>
  <% end %>
  
  <% if @results.present? %>
    <% @results.each do |result| %>
        <p>Attribute: <%= result.attr_title %></p>
        <p>UI Info: <%=  result.ui_info %></p>
        <hr>
    <% end %>
  <% else %>
    <p>No results to display</p>
  <% end %>


<%= render 'shared/nav' %>