<%= render 'shared/nav' %>

<div class="search_box">
  <%= form_tag(index_path, method: :get) do %>
    <%= label_tag(:keyword, "Search for:") %>
    <%= text_field_tag(:keyword, params[:keyword]) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<hr>
<div id="searchResultContainer">
  <% if @results.present? %>
    <% @results.each do |result| %>
      <div class="result" id="searchResult">
        
        <ul>
        <% 
        # Extract strings, "Products" array, and other arrays
        string_fields = result.ui_info.select { |_key, value| !value.is_a?(Array) }
        products_field = result.ui_info['Products']
        other_arrays = result.ui_info.select { |key, value| value.is_a?(Array) && key != 'Products' }.sort.to_h
        request_info = result.request_type.select { |key, value| value.is_a?(Array) }.sort.to_h
        %>
          <li>
            <h5><%= result.attr_title %></h5>
          </li>
          <% # Display all string fields first %>
          <% string_fields.each do |key, value| %>
            <li>
              <h6>
                <strong><%= display_name_for_ui_info_key(key, :ui_info) %> - </strong>
                <%= value %>
              </h6>
            </li>
          <% end %>

          <li>
          <h6 id="moarBigger">Product Associations</h6>
          </li>
          
          <div id="allProducts">
            <% # Display the "Products" array next %>
            <% if products_field.present? %>
              <% products_field.each do |product| %>
                <li>
                    <%= image_tag("#{product}.png", title: product) %> <!-- Adding image with the title attribute -->
                  <h6>
                    <%= product %>
                  </h6>
                </li>
              <% end %>
            <% end %>
          </div>
          
          <li>
          <h6 id="moarBigger">Request Types</h6>
          </li>

          <% # Display Request Type, sorted alphabetically %>
          <% request_info.each do |key, value| %>
            <li>
              <h6>
                <strong><%= display_name_for_ui_info_key(key, :request_type) %> - </strong> 
                <%= value.join(", ") %>
              </h6>
            </li>
          <% end %>
        </ul>
        
      </div>
    <% end %>
  <% else %>
<% end %>
</div>