<p style="color: green"><%= notice %></p>

<%= render @attr %>



<div>
  <%= link_to "Edit this attribute", edit_attr_path(@attr) %> |
  <%= link_to "Back to attributes", attrs_path %>

  <%= button_to "Destroy this attribute", @attr, method: :delete %>
</div>
